@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.bottom{
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height:120vh;

    align-items: row;
    padding: 30px;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}   

.detail {
  box-shadow: rgba(0, 0, 0, 0.35)8px 7px 20px;
  border: solid hsl(0, 9%, 94%) 2px;
  margin-left: 100px;
  width: 60rem;
}
.detail_c {
  font-family: 'Philosopher', sans-serif;
  color: rgb(240, 230, 230);
  font-size: 3rem;
  margin-left: 15px;
  margin: center;
}
.img {
  width: max-content;
  float: right;
  box-shadow: 0 8px 16px 0 #746363e5, 0 6px 20px 0 rgba(109, 104, 104, 0.974);
}
.resume {
  /* margin-left: 15px; */
  font-family: 'Philosopher', sans-serif;
  color: rgb(240, 230, 230);
  margin: center;
}
.resume_p {
  font-family: 'Philosopher', sans-serif;

  text-decoration: none;
  color: rgb(240, 230, 230);
} 
.steps {
  font-family: 'Philosopher', sans-serif;

  margin-left: 15px;
}

.button {
  background-color: #8c978c;
  border-radius: 5px;
  color: #d8c1c1;
  padding: 5px 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  text-decoration: none;
  display: inline-block;;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 #746363e5, 0 6px 20px 0 rgba(109, 104, 104, 0.974);
  cursor: pointer
}

.button:hover {
  background-color: hsla(120, 15%, 77%, 0.904); 
  color: #594f4f;
  box-shadow: 0 8px 16px 0 #ece5e5e5, 0 6px 20px 0 rgba(109, 104, 104, 0.974);
}